<div class="top-wrapper">
  <p class="top-dummy-msg">
    （こちらはダミーサイトです。実在する内容と関係ありません。）
  </p>
  <div class="top-container cf">
    <h1 class="top-title">
      G0 T0 商店会 WEB応募専用ページ
    </h1>
    <% unless user_signed_in? %>
      <%= link_to 'アカウント登録はこちら', new_user_registration_path, class: 'top-button fs18' %>
      <%= link_to 'ログインはこちら', new_user_session_path, class: 'top-button fs18' %>
    <% else %>

      <% if Organization.exists?(user_id: current_user.id) %>
        <% if Project.exists?(user_id: current_user.id) %>
          <%= link_to '事業者ページはこちら', project_path(@project.id), class: 'top-button fs18' %>
        <% else %>
          <%= link_to '事業者登録（新規・追加）はこちら', new_organization_path, class: 'top-button fs18' %>
          <%= link_to '新規事業申請はこちら', new_project_path, class: 'top-button fs18' %>
        <% end %>
      <% else %>
        <%= link_to '事業者登録（新規・追加）はこちら', new_organization_path, class: 'top-button fs18' %>
      <% end %>

      <%= link_to 'ログアウト', destroy_user_session_path, class: 'top-button', method: :delete %>
    <% end %>
  </div>
</div>